<h1>Many to Many association</h1>
<p>1) <%= link_to "has_and_belongs_to_many association", products_index_url %></p>
<p>2) <%= link_to "has_many :through association (recommendate)", professors_url %></p>
<h1>N+1 query</h1>
<p> <%= link_to "example", builds_index_url %> </p>
<p> <%= link_to "eager loding", eager_builds_url %> </p>
<p> <%= link_to "lazy loding", lazy_builds_url %> </p>
